@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* FUNDO */
body {
  min-height: 100vh;
  color: #1f1f1f;
  background: linear-gradient(135deg, #4a0f0f, #8B1A1A, #E8622A);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}
main{
margin-left:100px;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* CONTAINER */
.container {
  padding: 50px 80px;
  max-width: 1400px;
  margin: 0 auto;
}

/* TÍTULO */
.container h1 {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 40px;
  color: #ffffff;
}

/* KPIs */
.kpis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-bottom: 50px;
}

/* CARD */
.card {
  background: #f0e8dc;
  border-left: 10px solid #411111;
  border-radius: 22px;
  padding: 28px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.35);
  transition: 0.3s ease;
  color: black;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.5);
}

.card h2 {
  font-size: 0.85rem;
  font-weight: 600;
  color: rgba(78, 0, 0, 0.75);
  margin-bottom: 12px;
}

.card p {
  font-size: 2.6rem;
  font-weight: 800;
  color: rgb(100, 0, 0);
}

/* CHARTS */
.charts {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 28px;
}

/* GRÁFICOS */
.chart {
  background: rgba(255,255,255,0.92);
  border-radius: 22px;
  padding: 25px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
  min-height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart canvas {
  width: 100% !important;
  height: 340px !important;
}

/* LATERAL */
.side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #8B1A1A;
  width: 100px;
  height: 100vh;
  position: fixed;
}

/* HISTÓRICO (AGORA É SÓ UM CARD) */
.history {
  display: flex;
}

/* RESPONSIVO */
@media (max-width: 1000px) {
  .kpis {
    grid-template-columns: 1fr;
  }

  .charts {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 25px;
  }
}