.navbar { 
  background: #8B1A1A;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px; 
  position: sticky;
  top: 0; 
  z-index: 100; 
}
.logo-icon img { 
  width: 9%; 
  height: 9%;
}
.navbar-links { 
  display: flex; 
  gap: 30px;
  color: #fff; 
  font-size: 0.9rem; 
}
.navbar-links a{
  text-decoration: none;
  color: #fff;
}

.navbar-btn { 
  border: 2px solid #E8622A; 
  color: #E8622A; 
  padding: 5px 20px; 
  border-radius: 20px; 
  font-weight: 600; 
  cursor: pointer; 
}

.navbar-btn a {
    text-decoration: none;
    color: #E8622A;
}

.verificacaoTrue {
    color: #15fc40;
}
.verificacaoFalse {
    color: #f52626;
}
.text1 {
    font-size: 15px;
    
}
body{
       margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/Login.png");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}


.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    background: #ffff;
     align-items: center;
    padding: 20px;
    border-radius: 20px;
    
}
.login input{
    margin-top:0px;
    border-radius: 30px;
    width: 250px;
    height:30px;
    border: 2px solid black;
    
}
.login input::placeholder {
    font-weight: bold;
    font-size: 15px;
}
.login span{
     gap:30px;
}

.logoTop {
    height: 50px;
    width: 90px;
    margin-left: 13px;
    margin-top: 3px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 160px;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

#login {
    background-color: #E4B97E;
    border: none;
    padding: 8px 18px;
    border-radius: 60px;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    width: 130px;
    height:55px;
    font-size: 20px;
}
#btnentrar{
     background-color: #620808;
    border: none;
    padding: 8px 18px;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    width: 250px;
    height:50px;
    font-size: 20px;
}

.login {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 350px;
            background: #ffff;
            align-items: center;
            padding: 20px;
            border-radius: 20px;
        }

        .login input {
            margin-top: 0px;
            border-radius: 30px;
            width: 250px;
            height: 30px;
            border: 2px solid black;
        }

        .login input::placeholder {
            font-weight: bold;
            font-size: 15px;
        }

        .login span { gap: 30px; }

        #div_loginMsg {
            font-size: 14px;
            text-align: center;
        }