.navbar { 
  background: #8B1A1A;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px; 
  position: sticky;
  top: 0; 
  z-index: 100; 
}
.logo-icon img { 
  width: 9%; 
  height: 9%;
}
.navbar-links { 
  display: flex; 
  gap: 30px;
  color: #fff; 
  font-size: 0.9rem; 
}
.navbar-links a{
  text-decoration: none;
  color: #fff;
}

.navbar-btn { 
  border: 2px solid #E8622A; 
  color: #E8622A; 
  padding: 5px 20px; 
  border-radius: 20px; 
  font-weight: 600; 
  cursor: pointer; 
}

.navbar-btn a {
    text-decoration: none;
    color: #E8622A;
}

.verificacaoTrue {
    color: #15fc40;
}
.verificacaoFalse {
    color: #f52626;
}
.text1 {
    font-size: 15px;
    
}
body{
    margin: 0;
    background-image: url("../img/fundoLogin&Cadastro.png");
      font-family: 'Poppins', sans-serif; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: larger;
}
.div_body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.div_princ {
    border: 0px solid;
    border-radius: 20px;
    background-color: #fff;
    color: #590000;
    height: 35%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: absolute;
}

#spanEmail {
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

.div_princ input {
    border: 3px solid #590000;
    border-radius: 10px;
    width: 90%;
    height: 7%;
    align-self: center;
    justify-self: center;
    padding-left: 1vh;
    transition: 0.3s
}

.div_princ input:focus{
    border: 3px solid #ba0000;
    box-shadow: 0 0 10px #7f0000;
}

.div_princ button {
    width: 70%;
    height: 10%;
    border: 5px solid #9d2222;
    border-radius: 10px;
    color: #9d2222;
    font-size:large;
    font-weight: bold;
    background-color: #fff;
    transition: 0.3s;
}

.div_princ button:hover {
    transform: scale(1.05);
}

.div_princ a {
    text-decoration: none;
    color: #E8622A;
}